<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Training_Contacts::contacts" title="Contacts" module="Training_Contacts"
             resource="Training_Contacts::contacts" parent="Magento_Reports::report" action="contacts/contacts/index" sortOrder="70"/>
    </menu>
</config>
