<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Training\Test\MagentoU\Test">
        <arguments>
            <argument name="justAParametr" xsi:type="string">Hello world!</argument>
            <argument name="data" xsi:type="array">
                <item name="test-array-item" xsi:type="string">Test Array Item!!!</item>
            </argument>
        </arguments>
    </type>
    <preference for="Training\Test\MagentoU\Test" type="Magento\Catalog\Model\ProductRepository" />
    <type name="Magento\Catalog\Model\Product">
        <plugin name="modify_price" type="Training\Test\Model\Plugins\Product" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Theme\Block\Html\Footer">
        <plugin name="modify_footer" type="Training\Test\Block\Plugins\Footer" sortOrder="20" disabled="false"/>
    </type>
    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="modify_crumbName" type="Training\Test\Block\Plugins\Breadcrumbs" sortOrder="30" disabled="false"/>
    </type>
    <preference for="Magento\Framework\App\FrontControllerInterface" type="Training\Test\App\FrontController" />
    <type name="Magento\Framework\App\Router\NoRouteHandlerList">
        <arguments>
            <argument name="handlerClassesList" xsi:type="array">
                <item name="default" xsi:type="array">
                    <item name="class"
                          xsi:type="string">Training\Test\Controller\NoRouteHandler</item>
                    <item name="sortOrder" xsi:type="string">200</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>