<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Training_HelloPage::hello_page" title="Hello Page" module="Training_HelloPage" sortOrder="0" parent="Magento_Catalog::inventory" action="hello/index/index" resource="Training_HelloPage::hello_page"/>
    </menu>
</config>
