<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Training_ComputerGames::games_list" title="Games" module="Training_ComputerGames" sortOrder="50" parent="Magento_Catalog::inventory" action="games/grid/index" resource="Training_ComputerGames::game"/>
    </menu>
</config>